:root{
    --green1 : #92c952;
    --purple1 : #771796;
    --green2 : #24f355;
    --rose1 : #d32776;
    --rose2 : #f66b97;
    --blue1 : #56a8c2;
    --blue2 : #1da1f2;
}
#debug *{border: 1px dashed black;}

body{
    font-family: "Edu TAS Beginner", "Sometype Mono","Roboto", Arial, Helvetica, sans-serif;
    /* min-width: 1440px; */
}

/* UTILITIES */
.bg-green1{background-color: var(--green1);}
.bg-green2{background-color: var(--green2);}
.bg-purple1{background-color: var(--purple1);}
.bg-rose1{background-color: var(--rose1);}
.bg-rose2{background-color: var(--rose2);}
.bg-blue1{background-color: var(--blue1);}
.bg-blue2{background-color: var(--blue2);}

.font-sometypemono{ font-family: "Sometype Mono";}
.font-roboto{ font-family: "Roboto";}
.font-arial{ font-family: "Arial";}


header div{
    background-image: url("../assets/img/wall.png");
    background-repeat: repeat;
}
main{
    background-image: url("../assets/img/cork.png");
}

.custom-card{
    min-height: 380px;  /* !!!necessary for lg and md, in sm will be larger */
    z-index: 1;
    box-shadow: 2.4px 2.4px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.62s ease;  /*fluid transaction*/
}
.pin-card{transition: opacity 0.3s ease;}
.custom-card:hover{
    cursor: pointer;
    z-index: 2;
    transform: translateY(-6px) scale(1.08) rotate(8deg); /*+10px axisY up +5%*/
    box-shadow: 4.6px 4px 8px rgba(0, 0, 0, 0.5);
    .pin-card{opacity: 0;}
    /* overflow: hidden;  nasconde spigolo di img dentro una card rounded */
}
.card-content{
    width: 100%;
}
.inner-image{
    width: 100%;
    aspect-ratio: 1 / 1;
}
/* .descrp{
    max-height: 48px;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: break-word; 
}*/

.overlay{
    z-index: 10;
    top: 0;
    left: 0;
    background-color:  rgba(0, 0, 0, 0.7)
}
